@model SearchServer.Models.UserModel

@{
    ViewData["Title"] = "Edit " + @Model.Name;
    ViewData["Headers"] = "<link href='/lib/cropper/cropper.css'  rel='stylesheet'/>" +
        "<link href='/lib/quill/quill.snow.css'  rel='stylesheet'/>";
}

<script src="~/lib/cropper/cropper.min.js"></script>

<div id="app">

    <avatar url="@Model.Image" upload-url="@Url.Action("UploadAvatar", new { Model.Id})" save-url="@Url.Action("SaveAvatar", new { Model.Id})" default-url="/images/no_avatar.png"></avatar>
    @if (ViewBag.EmailConfirmed == false)
    {
        <div class="mt-2 mb-2"><form method="post" asp-area="Identity" asp-page="/Account/Manage/SendEmailConfirmation"><button class="btn btn-primary">Send Email Confirmation</button></form></div>
    }
    <div class="row">
        <div class="col-md-6">

            <form asp-action="Edit" onsubmit="this.Info.value = quill.root.innerHTML">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                @if (User.IsInRole("Admin"))
                {
                    <div class="form-group">
                        <label asp-for="Banned" class="control-label"></label>
                        <input asp-for="Banned" class="form-control" />
                        <span asp-validation-for="Banned" class="text-danger"></span>
                    </div>
                }
                <div class="form-group">
                    <label>
                        Personal page description<input data-val="false" type="hidden" asp-for="Info" />
                    </label>
                    <div data-val="false" id="user_info" name="body" cols="80" rows="20">@Html.Raw(Model.Info)</div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" /> <a class='btn btn-secondary' asp-area="Identity" asp-page="/Account/Manage/ChangePassword" title="Change Password">Change Password</a>
                </div>
            </form>
        </div>
    </div>

</div>


<script src="~/js/avatar.js?@(DateTime.Now.Ticks)"></script>

<script src="~/lib/quill/quill.js"></script>

<script>

        var quill = new Quill('#user_info', {
        theme: 'snow',
        formats: "bold,italic,link,size,strike,underline,script,blockquote,header,indent,list,align,direction",
  });

     var app = new Vue({
      el: "#app",
       data: {
            user: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(@Model))
        }
    });

</script>