@model IEnumerable<SearchServer.Models.UserModel>

@{
    ViewData["Title"] = "Users";
}

<h2>Users</h2>

<div class="row">
    @foreach (var item in Model)
    {
        double pp = Math.Pow(10, Math.Floor(Math.Log10(Math.Max(1,item.Rating))));
        int r = (int) (Math.Round(1.0*item.Rating/pp)*pp);


            <div class="col-lg-2 col col-sm-3 card">
                <a href="@Url.RouteUrl("UserPage",new { Id = item.Id})"><img class="card-img-top" src="@(item.ImageUrl!=null?item.ImageUrl:"/images/no_avatar.png")"></a>
                <div class="card-body row">
                    <a href="@Url.RouteUrl("UserPage",new { Id = item.Id})" class="card-title col">@item.Name</a>
                    <p class="col">Rating @(r>0?">":"")@r</p>
                </div>
            </div>
    }

 </div>
